:root {
    --test-border: black;
    --test-main-color: blue;
    --test-main-background-color: white;
    --test-valid-color: green;
    --test-invalid-color: red;

}




body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    border: solid 1px var(--test-border);
    border-radius: 8px;
    row-gap: 16px;
    column-gap: 64px;
    padding: 32px;
}

.containerEmail {
    grid-row: 1 / 2;
    grid-column: 1 / 2 ;
}


.containerPostalCode {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    
}


.containerArea {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    
}


.containerPassword {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    
}


.containerPasswordConfirmation{
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 16px;
}
.container > span {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
.container > label {
    display: flex;
    justify-content: right;
    align-items: center;
}
.signUpButton {
    grid-row: 4 / 5;
    grid-column: 1 / 3;
}